// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
	
	.form {
    background-color: #F0F0F0;
	border: 2px solid #000;
	border-radius: 20px;
	
  }
 .questionsLayout {
	display: flex;
	align-items: center;
}

	.plusLayout {
		display: flex;
		align-items: center;
	}
	.plusIcon {
		color: blue;
	}
	.minusLayout {
		display: flex;
		align-items: center;
	}
	.minusIcon {
		color: blue;
	}
	.submitButton {
		background: blue;
		width: 100px;
		border-color: blue;		
	}
	.v-button {
		color: white;
		border-radius: 10px;
		border: 2px solid;
		transition: 0.5s;
	}
	.v-button:hover {
		transform: scale(1.2) perspective(1px);
		
	}
	
	.v-panel-caption {
		background: #9A00B2;
		color: white;
		text-align: center;
		border: 3px solid #9A00B2;
	}
	.v-panel-content {
		background: #F0F0F0;
		border: 1px solid #000;
	}
	
	
 .v-caption-wrongIconLabel .v-icon {
   color: red;
	font-size: 30px;
 }
 .v-caption-correctIconLabel .v-icon {
  color: green;
	font-size: 30px;
}
.oneChallengeLayout {
  display: flex;
  align-items: center;
justify-content: center;
flex-direction: column;
}
.challengeLine {
  display: flex;
		align-items: center;
}

 .previousButton {
	border-color: red;
    background: red;
}
.check {
	border-color: green;
  background: green;
}
.nextButton {
	border-color: lightseagreen;
  background: lightseagreen;
}

.pointTextLayout {
  width: 100%;
display: flex;
justify-content: center;


}
.pointTextLayout .v-captiontext {
	font-size: 50px;
	
}
.answerCorrect {
  display: flex;
  align-items: center;
}
.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 1px;
  background: red;
}

}
